agda-ffi/dist
*.agdai
MAlonzo
test/UHC
test/hello
test/Main
test/PrimeTest
test/PrimeTest_p
test/Files
test/test_files_bin.out
test/test_files_txt.out
*.prof
*.treeless
*.hi
*.o
*.agda#
*.agda~
.#*.agda
test/Everything.agda
